@use '../custom' as *;
@use '../components/mixins' as *;

.menu{
    // background-color: $primary;
    @include gradient;

    .menu-container {
        a{
            color: $secondary;
        }
        .logo{
            font-size: 3rem;
        }
        .active{
            color: $tertiary;
        }
       .btn{
        border: none;
        &:focus{
        border: none;
       }
       }
        }
    }