@use '../custom' as *;
@use '../components/mixins' as *;

.rounded{
    width: 10rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.7rem 1rem;
   @include button($secondary, $primary);

   span{
    line-height: 2rem;
}

}