@use '../custom' as *;

.rounded{
    width: 10rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.7rem 1rem;
    background-color: $secondary;
    color: $primary;
    
    span{
        line-height: 2rem;
    }

}